@model List<MVC_WebService.Models.SouboryModel>

@{
    ViewBag.Title = "Galerie";
}

<h2>@ViewBag.Title</h2>

<link href="~/Content/lightbox.css" rel="stylesheet">
<script src="~/Scripts/lightbox-2.6.min.js"></script>

<table class="table">
@for (int i = 0; i < Model.Count; i += 3)
{
    int currentIndex = i;
    <tr>
        <td>
            <a href="@Url.Action("Image", "Gallery", new { id = Model[currentIndex].Id, miniature = false })" data-lightbox="image" data-title="@Model[currentIndex].Nazev">
                <img src="@Url.Action("Image", "Gallery", new { id = Model[currentIndex].Id, miniature = true })" width="400" />
            </a>
        </td>
        <td>
            @{ 
                currentIndex++;
            }
            @if (currentIndex < Model.Count)
            {
                <a href="@Url.Action("Image", "Gallery", new { id = Model[currentIndex].Id, miniature = false })" data-lightbox="image" data-title="@Model[currentIndex].Nazev">
                    <img src="@Url.Action("Image", "Gallery", new { id = Model[currentIndex].Id, miniature = true })" width="400" />
                </a>
            }
            </td>
        <td>
            @{
                currentIndex++;
            }
            @if (currentIndex < Model.Count)
            {
                <a href="@Url.Action("Image", "Gallery", new { id = Model[currentIndex].Id, miniature = false })" data-lightbox="image" data-title="@Model[currentIndex].Nazev">
                    <img src="@Url.Action("Image", "Gallery", new { id = Model[currentIndex].Id, miniature = true })" width="400" />
                </a>
            }
        </td>
    </tr>
}
</table>
