@model IEnumerable<MVC_WebService.Models.ZakLocalModel>

@{
    ViewBag.Title = "Seznam žáků školy";
}

<h2>@ViewBag.Title</h2>

<p>
    Celkový počet žáků: @ViewBag.PocetZaku
    <br/>
    Celkový počet žáků: <span class="pocetZaku">--</span>
    <br/>
    <input type="button" id="bt_pocetZaku" class="btn btn-primary" value="Získej počet žáků"/>
    <br/>
    <br/>
    @Html.ActionLink("Přidat žáka", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Jmeno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prijmeni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Muz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RodneCislo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Studuje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZmenenoKdy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZmenenoKdo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Jmeno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prijmeni)
        </td>
        <td>
            @{
                if (item.Muz == true)
                {
                    <span>Muž</span>
                }
                else
                {
                    <span>Žena</span>
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RodneCislo)
        </td>
        <td>
            @{
                if (item.Studuje)
                {
                    <span>Ano</span>
                }
                else
                {
                    <span>Ne</span>
                }
            }
        </td>
        <td>
            @{
                string nazevTridy = new MVC_WebService.SkolaWS.SkolaSoapClient().TridaList().FirstOrDefault(t => t.Id == item.Trida)?.Nazev ?? "Neznámá";
                <span>@nazevTridy</span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZmenenoKdy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZmenenoKdo)
        </td>
        <td>
            @Html.ActionLink("Známky", "List", "Znamka", new { zakId = item.Id, jmenoZaka = $"{item.Jmeno} {item.Prijmeni}" }, null) |
            @Html.ActionLink("Smazat", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    $(document).ready(function () {
        $("#bt_pocetZaku").click(function () {
            var url = "@Url.Action("VratPocetZaku", "Zak")"

            $.getJSON(url, null, function (data) {
                if (data.Item1 === true)
                {
                    $(".pocetZaku").text(data.Item2);
                }
                else
                {
                    $(".pocetZaku").text("--");
                }
            });
        });
    });
</script>
