@model MVC_WebService.Models.TridaModel

@{
    ViewBag.Title = "Přidat třídu custom";
}

<h2>@ViewBag.Title</h2>

<form action="@Url.Action("CreateForm", "Trida")" method="post">
    <input type="hidden" name="cas-nacteni" value="@DateTime.Now.ToString()"/>

    <table class="table">
        <tr>
            <td>
                @Html.DisplayNameFor(m => m.Nazev)
            </td>
            <td>
                <input type="text" name="@nameof(Model.Nazev)" value="@Model.Nazev" />
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(m => m.Tridni)
            </td>
            <td>
                <input type="text" name="@nameof(Model.Tridni)" value="@Model.Tridni" />
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(m => m.ZmenenoKdy)
            </td>
            <td>
                <input type="text" id="datepicker" name="@nameof(Model.ZmenenoKdy)" value="@Model.ZmenenoKdy" />
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(m => m.ZmenenoKdo)
            </td>
            <td>
                <input type="text" name="@nameof(Model.ZmenenoKdo)" value="@Model.ZmenenoKdo" />
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(m => m.Rocnik)
            </td>
            <td>
                <input type="number" name="@nameof(Model.Rocnik)" value="@Model.Rocnik" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" class="btn btn-primary" value="Přidat"/>
            </td>
        </tr>
    </table>
</form>

<div>
    @Html.ActionLink("Zpět na seznam tříd", "List")
</div>