@model IEnumerable<MVC_WebService.Models.TridaModel>

@{
    ViewBag.Title = "Třídy na škole";
}

<h2>@ViewBag.Title</h2>

<p>
    Celkový počet tříd: @ViewBag.PocetTrid
    <br/>
    Celkový počet tříd: <span class="pocetTrid">--</span>
    <br/>
    <input type="button" id="bt_pocetTrid" class="btn btn-primary" value="Získej počet tříd"/>
    <br/>
    <br/>
    @Html.ActionLink("Přidat třídu", "Create")
    |
    @Html.ActionLink("Přidat třídu custom", "CreateForm")
    |
    @Html.ActionLink("Přidat třídu ajax", "CreateAjax")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazev)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tridni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZmenenoKdy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZmenenoKdo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rocnik)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nazev)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tridni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZmenenoKdy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZmenenoKdo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rocnik)
        </td>
        <td>
            @Html.ActionLink("Smazat", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    $(document).ready(function () {
        $("#bt_pocetTrid").click(function () {
            var url = "@Url.Action("VratPocetTrid", "Trida")"

            $.getJSON(url, null, function (data) {
                if (data.Item1 === true)
                {
                    $(".pocetTrid").text(data.Item2);
                }
                else
                {
                    $(".pocetTrid").text("--");
                }
            });
        });
    });
</script>
